#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.order {
  padding: 15px;
  width: 30%;
  background-color: #977496;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.menu-btn {
  cursor: pointer;
  width: 140px;
  margin: 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #8795b5 0%, #9a7fb3 51%, #977496 100%);
}
.menu-btn:hover {
  background-position: right center;
}

.order-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-bottom: -10px;
}

.order-name {
  margin-right: auto;
}

.order-count {
  padding: 0 20px 0 20px;
}

.order-sum {
  margin-right: 30px;
}

.stock {
  margin-left: auto;
  padding: 0;
  background: none ;
  border: none;
}