@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {font-family: 'Pixelify Sans', sans-serif;}

.container {
  display: flex;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.order {
  margin-top: 20px;
  padding: 15px;
  width: 30%;
  height: 90%;
  background-color: #977496;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.menu-btn {
  cursor: pointer;
  width: 140px;
  margin: 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #8795b5 0%,
    #9a7fb3 51%,
    #977496 100%
  );
}
.menu-btn:hover {
  background-position: right center;
}

.order-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-bottom: -10px;
}

.order-name {
  margin-right: auto;
}

.order-count {
  padding: 0 20px 0 20px;
}

.order-sum {
  margin-right: 30px;
}

.stock {
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.price p {
  margin: 0 20px 0 20px;
}
